body {
  background-color: darkmagenta;
}

h1 {
  color: yellow;
  text-align: center;
}

h3 {
color: #40ff00; /*green*/
text-align: center;
}

h4 {
color: #40ff00;
text-align: center;
}
p {
text-align: center;
color: #40ff00; /*green*/
  font-family: verdana;
  font-size: 20px;
}

label {
color: yellow;
}